<md-toolbar>
  <span>Status <small>  #{{status.set}} @{{ status.beginTime | date: 'y-MM-dd HH:mm:ss' }}</small> </span>
  <button type="submit" (click)="subscribe()" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
    Subscribe
  </button>
</md-toolbar>

<div class="content-grid mdl-grid" *ngFor="let intension of status.intensions">
  <div class="mdl-cell mdl-cell--2-col">
    {{intension.field}}
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <span *ngIf="status.map[intension.field]?.glimpseId">{{status.map[intension.field]?.glimpseId}} $ </span>
     {{status.map[intension.field]?.value}}
  </div>
  <div class="mdl-cell mdl-cell--2-col">
    {{status.map[intension.field]?.time | date: 'y-MM-dd HH:mm:ss'}}
  </div>
</div>
