<br>
<div mdl-shadow="2">
  <div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--1-col">
      <app-subjects [object_type]="'Model'" [access_type]="'Provider'"></app-subjects>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <md-input-container style="width: 100%;">
        <input type="text" mdInput placeholder="Group" [formControl]="searchGroup">
      </md-input-container>
    </div>
  </div>
</div>

<br>
<div *ngFor="let model of models" class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col" mdl-shadow="2">
    <div class="content-grid mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--11-col">
            <h4>{{model.group}} / {{model.name}} # {{model.stability}}-{{model.version}}</h4>
          </div>
          <div class="mdl-cell mdl-cell--1-col">
            <button mdl-button mdl-button-type="icon" mdl-ripple>
              <mdl-icon>favorite_border</mdl-icon>
            </button>
          </div>
        </div>
        <pre *ngFor="let intension of model.intensions">
    <strong>{{intension.visibility}}</strong> {{intension.field}} : <a href="/explore/models/{{intension.refExtId}}"
                                                                       *ngIf="intension.refExtId">Reference</a><span
          *ngIf="!intension.refExtId">{{intension.structure}}</span><span *ngIf="!intension.single"> []</span>
          </pre>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-grid" mdl-shadow="2">
      <div class="mdl-cell mdl-cell--12-col">
        <mdl-textfield type="text" label="Subscriptions" value="{{model.subscriptions}}" floating-label
                       readonly="true"></mdl-textfield>
        <mdl-textfield type="text" label="Provider" value="{{model.providerId}}" floating-label
                       readonly="true"></mdl-textfield>
        <mdl-textfield type="text" label="Stability" value="{{model.stability}}" floating-label
                       readonly="true"></mdl-textfield>
        <mdl-textfield type="text" label="Version" value="{{model.version}}" floating-label
                       readonly="true"></mdl-textfield>
        <mdl-textfield type="text" label="Since" value="{{model.beginTime | date:'medium'}}" floating-label
                       readonly="true"></mdl-textfield>
      </div>
    </div>
    <br>
    <div class="mdl-grid" mdl-shadow="2">
      <div class="mdl-cell mdl-cell--12-col">
        <form [formGroup]="subscribeForm">
          <mdl-textfield type="text" label="Owner" formControlName="ownerId" floating-label></mdl-textfield>
          <mdl-textfield type="text" label="Group" formControlName="group" floating-label></mdl-textfield>
          <mdl-textfield type="text" label="Name" formControlName="name" floating-label></mdl-textfield>
          <mdl-textfield type="text" label="Tree" formControlName="tree" floating-label></mdl-textfield>
          <button (click)="subscribe(model.pubSet)" mdl-button mdl-button-type="raised" mdl-colored="primary"
                  mdl-ripple>Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
