<div mdl-shadow="2" *ngIf="instances">
  <md-toolbar>
    <span>Instances <small>  #{{ modelSub.id }}</small> </span>
  </md-toolbar>
  <div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--5-col">
      <h4>Previous</h4>
      <div class="content-grid mdl-grid" *ngFor="let intension of instances.intensions">
        <div class="mdl-cell mdl-cell--10-col">
          <md-checkbox [checked]="instances.previous[intension.field]?.glimpseId" [disabled]="'disabled'">
            Reference #{{instances.previous[intension.field]?.glimpseId}}
          </md-checkbox>
          <mdl-textfield type="text" style="width: 100%;" label="{{intension.field}}" name="{{intension.field}}"
                         floating-label [ngModel]="instances.previous[intension.field]?.value" readonly="true">
          </mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
          <small class="text-center">
            {{instances.previous[intension.field]?.time | date:'y'}}
            <br>
            {{instances.previous[intension.field]?.time | date:'MM-dd'}}
            <br>
            {{instances.previous[intension.field]?.time | date:'HH:mm'}}
          </small>
        </div>
      </div>
      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <app-visibility (onChanged)="publication_visibility($event)"></app-visibility>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <app-stabilities (onChanged)="publication_stability($event)"></app-stabilities>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" label="Version" name="version"
                         floating-label [(ngModel)]="publication.version">
          </mdl-textfield>
          <button type="button" (click)="publish()" mdl-button mdl-button-type="raised" mdl-colored="primary"
                  mdl-ripple>
            Publish
          </button>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--7-col">
      <h4>Current</h4>
      <div class="content-grid mdl-grid" *ngFor="let intension of instances.intensions">
        <div class="mdl-cell mdl-cell--12-col">
          <app-instances-value [the_intension]="intension"
                               [the_model_sub]="modelSub"
                               [init_value]="instances.current[intension.field]">

          </app-instances-value>
        </div>
      </div>
    </div>
  </div>

</div>
