<div *ngIf="searchForm" mdl-shadow="2">
  <form #modelForm>
    <div class="content-grid mdl-grid">
      <div class="mdl-cell mdl-cell--1-col">
        <app-subjects [object_type]="'Extension'" [access_type]="'Owner'"></app-subjects>
      </div>
      <div class="mdl-cell mdl-cell--4-col">

        <md-input-container style="width: 100%;">
          <input type="text" mdInput placeholder="Group" [mdAutocomplete]="searchGroup"
                 [formControl]="candidateGroupFormCtrl">
        </md-input-container>

        <md-autocomplete #searchGroup="mdAutocomplete" [displayWith]="displaySelectedExtensions">
          <md-option *ngFor="let extensions of candidateExtensions" [value]="extensions">
            <span>{{ extensions.group }} / {{ extensions.name }} # {{ extensions.tree }}</span>
          </md-option>
        </md-autocomplete>
      </div>
      <div class="mdl-cell mdl-cell--7-col">
        <md-slide-toggle [(ngModel)]="newExtensionModel" [ngModelOptions]="{standalone: true}">New</md-slide-toggle>
        <app-compose-extensions-new *ngIf="newExtensionModel" [group]="_group"></app-compose-extensions-new>
      </div>
    </div>
  </form>
</div>

<div mdl-shadow="2" *ngIf="extensions && !newExtensionModel">
  <div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <form>
        <div class="content-grid mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <mdl-textfield type="text" label="Visibulity" [ngModel]="extensions.visibility" name="visibility"
                           readonly="true"
                           floating-label></mdl-textfield>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <mdl-textfield type="text" label="Version" [(ngModel)]="publication.version" name="version"
                           floating-label></mdl-textfield>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <app-stabilities (onChanged)="publication_stability($event)" [latest_enabled]="'false'"></app-stabilities>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <button (click)="publish_extension()" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
              Publish
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
      <form #modelForm (ngSubmit)="search()">
        <div class="content-grid mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <mdl-textfield type="text" label="Field" [(ngModel)]="intensionForm.field" name="field"
                           floating-label></mdl-textfield>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--3-col">
                <mdl-switch [(ngModel)]="intensionForm.required" [ngModelOptions]="{standalone: true}" mdl-ripple>
                  Required
                </mdl-switch>
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                <app-single-multi (onChanged)="intension_single($event)"></app-single-multi>
              </div>
              <div class="mdl-cell mdl-cell--5-col">
                <app-visibility (onChanged)="intension_visibility($event)"></app-visibility>
              </div>
              <div class="mdl-cell mdl-cell--3-col">
                <mdl-switch [(ngModel)]="intensionForm.refExtId" [ngModelOptions]="{standalone: true}" mdl-ripple>
                  Reference
                </mdl-switch>
              </div>
              <div class="mdl-cell mdl-cell--9-col" *ngIf="!intensionForm.refExtId">
                <app-structures (onChanged)="intension_structure($event)"></app-structures>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col" *ngIf="intensionForm.refExtId">

              <md-input-container style="width: 100%;">
                <input type="text" mdInput placeholder="Reference Model" [mdAutocomplete]="searchModels"
                       [formControl]="modelFormControl">
              </md-input-container>

              <md-autocomplete #searchModels="mdAutocomplete" [displayWith]="displaySelectedModels">
                <md-option *ngFor="let model of candidateModels" [value]="model">
                  <span>{{model.providerId}} / {{ model.group }} / {{model.name}} # {{model.publication}}-{{model.version}} </span>
                </md-option>
              </md-autocomplete>

            </div>
            <button type="submit" (click)="add_intension()" mdl-button mdl-button-type="raised" mdl-colored="primary"
                    mdl-ripple>Add
            </button>
          </div>
        </div>
      </form>

      <app-intensions [extension]="extensions" [owner]="owners"></app-intensions>

    </div>
  </div>
</div>
