<br xmlns="http://www.w3.org/1999/html">
<div *ngIf="searchForm" mdl-shadow="2">
  <form #modelForm (ngSubmit)="search()">
    <div class="content-grid mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <mdl-textfield type="text" label="Owner" [(ngModel)]="searchForm.ownerId" name="searchOwner"
                       floating-label></mdl-textfield>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <mdl-textfield type="text" label="Group" [(ngModel)]="searchForm.group" name="searchGroup"
                       floating-label></mdl-textfield>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <mdl-textfield type="text" label="Name" [(ngModel)]="searchForm.name" name="searchName"
                       floating-label></mdl-textfield>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <mdl-textfield type="text" label="Tree" [(ngModel)]="searchForm.tree" name="searchTree"
                       floating-label></mdl-textfield>
      </div>
    </div>
    <div class="content-grid mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <button type="submit" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Search</button>
        <button (click)="submit()" [disabled]="!validAddition" mdl-button mdl-button-type="raised" mdl-colored="primary"
                mdl-ripple>Add
        </button>
      </div>
    </div>
  </form>
</div>

<div mdl-shadow="2" *ngIf="searchReceipt">
  <div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" label="Owner" [(ngModel)]="searchReceipt.ownerId" name="ownerId" readonly="true"
                         floating-label></mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" label="Group" [(ngModel)]="searchReceipt.group" name="group" readonly="true"
                         floating-label></mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" label="Name" [(ngModel)]="searchReceipt.name" name="name" readonly="true"
                         floating-label></mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" label="Tree" [(ngModel)]="searchReceipt.tree" name="tree" readonly="true"
                         floating-label></mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" label="Visibulity" [(ngModel)]="searchReceipt.visibility" name="visibility"
                         readonly="true"
                         floating-label></mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-radio value="snapshot" [(ngModel)]="searchForm.publication" name="publication" mdl-ripple>Snapshot
          </mdl-radio>
          <mdl-radio value="release" [(ngModel)]="searchForm.publication" name="publication" mdl-ripple>Release
          </mdl-radio>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <button type="submit" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Publish</button>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
      <form #modelForm (ngSubmit)="search()">
        <div class="content-grid mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <mdl-textfield type="text" label="Field" [(ngModel)]="intensionForm.field" name="field"
                           floating-label></mdl-textfield>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--3-col">
                <mdl-switch [(ngModel)]="intensionForm.required" [ngModelOptions]="{standalone: true}" mdl-ripple>
                  Required
                </mdl-switch>
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                <mdl-radio value="true" [(ngModel)]="intensionForm.single" name="intensionSingle" mdl-ripple>
                  Single
                </mdl-radio>
                <mdl-radio value="false" [(ngModel)]="intensionForm.single" name="intensionSingle"
                           mdl-ripple>
                  Multiple
                </mdl-radio>
              </div>
              <div class="mdl-cell mdl-cell--5-col">
                <mdl-radio value="public" [(ngModel)]="intensionForm.visibility" name="intensionVisibility" mdl-ripple>
                  Public
                </mdl-radio>
                <mdl-radio value="protected" [(ngModel)]="intensionForm.visibility" name="intensionVisibility"
                           mdl-ripple>
                  Protected
                </mdl-radio>
                <mdl-radio value="private" [(ngModel)]="intensionForm.visibility" name="intensionVisibility" mdl-ripple>
                  Private
                </mdl-radio>
              </div>
              <div class="mdl-cell mdl-cell--3-col">
                <mdl-switch [(ngModel)]="intensionForm.refExtId" [ngModelOptions]="{standalone: true}" mdl-ripple>
                  Reference
                </mdl-switch>
              </div>
              <div class="mdl-cell mdl-cell--9-col" *ngIf="!intensionForm.refExtId">
                <mdl-radio value="number"
                           [(ngModel)]="intensionForm.structure" name="intensionStructure" mdl-ripple>Number
                </mdl-radio>
                <mdl-radio value="boolean"
                           [(ngModel)]="intensionForm.structure" name="intensionStructure" mdl-ripple>Boolean
                </mdl-radio>
                <mdl-radio value="string"
                           [(ngModel)]="intensionForm.structure" name="intensionStructure" mdl-ripple>String
                </mdl-radio>
                <mdl-radio value="date_time"
                           [(ngModel)]="intensionForm.structure" name="intensionStructure" mdl-ripple>DateTime
                </mdl-radio>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col" *ngIf="intensionForm.refExtId">

              <md-input-container>
                <input type="text" mdInput placeholder="Reference Model" [mdAutocomplete]="acRefModels" [formControl]="modelFormControl">
              </md-input-container>

              <md-autocomplete #acRefModels="mdAutocomplete">
                <md-option *ngFor="let model of refModels" [value]="model">
                  <span>{{ model.group }}</span>
                </md-option>
              </md-autocomplete>

            </div>
            <button type="submit" (click)="addIntension()" mdl-button mdl-button-type="raised" mdl-colored="primary"
                    mdl-ripple>Add
            </button>
          </div>
        </div>
      </form>


      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <ul>
            <li *ngFor="let intension of searchReceipt.intensions">
              {{intension.visibility}}

              {{intension.field}}
              :
              {{intension.structure}}

              <span *ngIf="!intension.single">[]</span>

              <span *ngIf="intension.required"> , required</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
