<div mdl-shadow="2" *ngIf="status">
  <div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <h3>Origin</h3>
      <div class="content-grid mdl-grid" *ngFor="let intension of status.intensions">
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" style="width: 100%;" label="{{intension.field}}" name="{{intension.field}}"
                         floating-label [ngModel]="status.origin[intension.field]" readonly="true">
          </mdl-textfield>
        </div>
      </div>
      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <app-visibility (onChanged)="publication_visibility($event)"></app-visibility>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <app-stabilities (onChanged)="publication_stability($event)"></app-stabilities>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" label="Version" name="version"
                         floating-label [(ngModel)]="assetsPublication.version">
          </mdl-textfield>
          <button type="submit" (click)="publish()" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            Publish
          </button>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <h3>Current</h3>
      <div class="content-grid mdl-grid" *ngFor="let intension of status.intensions">
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-textfield type="text" style="width: 100%;" label="{{intension.field}}" name="{{intension.field}}"
                         floating-label [(ngModel)]="status.instances[intension.field]">
          </mdl-textfield>
        </div>
      </div>
      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <button type="submit" (click)="save()" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
