<br>
<div>
  <form #extensionForm (ngSubmit)="submit()">
    <mdl-textfield type="text" label="Owner" [(ngModel)]="ownerId" floating-label [ngModelOptions]="{standalone: true}"></mdl-textfield>

    <mdl-textfield type="text" label="Group" [(ngModel)]="group" floating-label [ngModelOptions]="{standalone: true}"></mdl-textfield>

    <button type="submit" style="display:none"></button>

    <span *ngIf="extension">
      <mdl-textfield type="text" label="Name" readonly="true" [(ngModel)]="extension.name" floating-label [ngModelOptions]="{standalone: true}"></mdl-textfield>

      <mdl-textfield type="text" label="Tree" readonly="true" [(ngModel)]="extension.tree" floating-label [ngModelOptions]="{standalone: true}"></mdl-textfield>
    </span>

  </form>
</div>

<div *ngIf="extension">
  <mdl-list>
    <mdl-list-item *ngFor="let intension of extension.intensions">
      <mdl-chip mdl-label="{{intension.visibility}}"></mdl-chip>
      {{intension.field}} : {{intension.structure}}<span *ngIf="!intension.single">[]</span>
    </mdl-list-item>
  </mdl-list>
</div>


